<div>
    <% current_user.friendships.pending_requests.each do |request| %>
        <div>
            <%= form_tag('/users/accept',method: "post") do %>
                <%= hidden_field_tag 'request[send_friend_id]', request.send_friend_id %>
                <%= hidden_field_tag 'request[recieved_friend_id]', request.recieved_friend_id %>
                <h4>
                 <%=link_to request.send_friend.name,user_path(request.send_friend_id)%> 
                </h4> wants to connect with you.
                
                <div class= "btns-holder">
                    <%= submit_tag 'Accept' %>
                    <%= submit_tag 'Reject',class: "btn btn-danger" %>
                </div>
                
            <%end %>
        </div>
    <% end %>
</div>